{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        cheshire {:mvn/version "5.8.1"}
        clojupyter/clojupyter {:git/url "git@github.com:Provisdom/clojupyter.git"
                               :sha "47dd794fd435de71369fb1ddae8c7e56d30aa85f"}
        org.apache.commons/commons-exec {:mvn/version "1.3"}}}
