{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        cheshire {:mvn/version "5.8.1"}
        org.clojars.didiercrunch/clojupyter {:mvn/version "0.1.5"}
        org.apache.commons/commons-exec {:mvn/version "1.3"}}}
